<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-0 px-3 shadow">
  <h2 class="custom-todo-title">ToDo List</h2>
  <div class="dropdown">
    <button type="button" class="btn btn-info" aria-expanded="false" data-bs-toggle="dropdown">
      <img src="../../../../assets/icons/bars-solid.svg" height="16" width="16"/>
    </button> 
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Calc</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">ToDo</a></li>
    </ul>
  </div>
</header>