
.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1rem;
	width: 100%;
}

app-todo-list-item {
	display: block;
	width: 100%;
}

.loading-spinner {
	display: flex;
    justify-content: center;
}